@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@media all and (max-width: 1450px) {
  .top .main-menu ul li ul {
    padding-top: 30px;
    background: #2a5f95 !important;
  }
}

@media all and (max-width: 1280px) {
  .top .greeting {
    font-size: 12px;
    margin-top: 3px;
  }
  .top .main-menu ul li ul {
    padding-top: 30px;
    background: #2a5f95 !important;
  }
}

@media all and (max-width: 1250px) {
  .logout span {
    display: none;
  }
}

@media all and (max-width: 1165px) {
  .top {
    -ms-grid-columns: 200px auto;
        grid-template-columns: 200px auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .top .top-menu {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .top .main-menu {
    grid-column: 1/-1;
    margin-top: 20px;
  }
  .top .main-menu ul {
    position: relative;
    margin-bottom: 0;
  }
  .top .greeting {
    display: none;
  }
}

@media all and (max-width: 886px) {
  .top {
    padding: 0;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
  .top .logo {
    position: relative;
    width: 100%;
    grid-column: 1/-1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    padding-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .top .logo img {
    width: 200px;
    display: block;
    margin: auto;
  }
  .top .top-menu {
    grid-column: 1/-1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .top .main-menu {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  header.home {
    height: 300px;
  }
  header.home .img {
    width: 80%;
  }
  header.home .img img {
    width: 100%;
  }
  .news .news_items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .news .item_1, .news .item_2, .news .item_3 {
    grid-column: auto;
  }
  .news .item_4 {
    grid-column: 1/-1;
    height: 250px;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .news .item_4 img {
    width: 100%;
  }
  header.inner .title {
    max-width: 200px;
    bottom: -20px;
  }
  header.inner .title img {
    width: 100%;
  }
}

@media all and (max-width: 630px) {
  .top {
    width: 100%;
    height: 80px;
  }
  .top .top-menu {
    display: none;
  }
  .top .menu_trigger {
    position: absolute;
    top: 30px;
    right: 20px;
    display: block;
    z-index: 10;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .top .menu_trigger.active {
    top: 10px;
  }
  .top .main-menu {
    position: relative;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin: 0;
    background: #0c5bac;
    opacity: 1;
    top: 0;
    width: 0;
    overflow: hidden;
    right: -630px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .top .main-menu.active {
    opacity: 1;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: initial;
  }
  .top .main-menu.active ul li {
    width: 100%;
  }
  .top .main-menu ul {
    padding-top: 50px;
  }
  .top .main-menu ul li {
    display: block;
    margin: 0;
    width: 0;
    border-length: !important;
    border-right: none !important;
  }
  .top .main-menu ul li ul {
    position: relative;
    width: 100% !important;
    max-height: 0px;
    top: 0 !important;
    padding: 0;
    overflow: hidden;
    display: block;
    z-index: 1;
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .top .main-menu ul li ul.active {
    position: relative;
    max-height: 100vh;
    opacity: 1;
  }
  .top .main-menu ul li ul.active li {
    height: auto;
  }
  .top .main-menu ul li ul li {
    height: auto;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  header.home {
    height: 200px;
  }
}

@media all and (max-width: 425px) {
  header.home {
    height: 200px;
  }
  #coaching_carousel .caption {
    position: relative;
    left: 0%;
    bottom: auto;
    color: #fff;
    max-width: 400px;
    background: #0a3e71;
    padding: 20px;
    padding-bottom: 70px;
  }
  .news .news_items {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  header.inner .title {
    display: none;
  }
}
/*# sourceMappingURL=responsive.css.map */